html[data-theme="light"] .highlight pre { line-height: 125%; }
html[data-theme="light"] .highlight td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight .hll { background-color: #ffffcc }
html[data-theme="light"] .highlight { background: #ffffff; }
html[data-theme="light"] .highlight .c { color: #888888; font-style: italic } /* Comment */
html[data-theme="light"] .highlight .err { background-color: #a848a8 } /* Error */
html[data-theme="light"] .highlight .k { color: #2838b0 } /* Keyword */
html[data-theme="light"] .highlight .o { color: #666666 } /* Operator */
html[data-theme="light"] .highlight .p { color: #888888 } /* Punctuation */
html[data-theme="light"] .highlight .ch { color: #287088; font-style: italic } /* Comment.Hashbang */
html[data-theme="light"] .highlight .cm { color: #888888; font-style: italic } /* Comment.Multiline */
html[data-theme="light"] .highlight .cp { color: #289870 } /* Comment.Preproc */
html[data-theme="light"] .highlight .cpf { color: #888888; font-style: italic } /* Comment.PreprocFile */
html[data-theme="light"] .highlight .c1 { color: #888888; font-style: italic } /* Comment.Single */
html[data-theme="light"] .highlight .cs { color: #888888; font-style: italic } /* Comment.Special */
html[data-theme="light"] .highlight .gd { color: #c02828 } /* Generic.Deleted */
html[data-theme="light"] .highlight .ge { font-style: italic } /* Generic.Emph */
html[data-theme="light"] .highlight .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
html[data-theme="light"] .highlight .gr { color: #c02828 } /* Generic.Error */
html[data-theme="light"] .highlight .gh { color: #666666 } /* Generic.Heading */
html[data-theme="light"] .highlight .gi { color: #388038 } /* Generic.Inserted */
html[data-theme="light"] .highlight .go { color: #666666 } /* Generic.Output */
html[data-theme="light"] .highlight .gp { color: #444444 } /* Generic.Prompt */
html[data-theme="light"] .highlight .gs { font-weight: bold } /* Generic.Strong */
html[data-theme="light"] .highlight .gu { color: #444444 } /* Generic.Subheading */
html[data-theme="light"] .highlight .gt { color: #2838b0 } /* Generic.Traceback */
html[data-theme="light"] .highlight .kc { color: #444444; font-style: italic } /* Keyword.Constant */
html[data-theme="light"] .highlight .kd { color: #2838b0; font-style: italic } /* Keyword.Declaration */
html[data-theme="light"] .highlight .kn { color: #2838b0 } /* Keyword.Namespace */
html[data-theme="light"] .highlight .kp { color: #2838b0 } /* Keyword.Pseudo */
html[data-theme="light"] .highlight .kr { color: #2838b0 } /* Keyword.Reserved */
html[data-theme="light"] .highlight .kt { color: #2838b0; font-style: italic } /* Keyword.Type */
html[data-theme="light"] .highlight .m { color: #444444 } /* Literal.Number */
html[data-theme="light"] .highlight .s { color: #b83838 } /* Literal.String */
html[data-theme="light"] .highlight .na { color: #388038 } /* Name.Attribute */
html[data-theme="light"] .highlight .nb { color: #388038 } /* Name.Builtin */
html[data-theme="light"] .highlight .nc { color: #287088 } /* Name.Class */
html[data-theme="light"] .highlight .no { color: #b85820 } /* Name.Constant */
html[data-theme="light"] .highlight .nd { color: #287088 } /* Name.Decorator */
html[data-theme="light"] .highlight .ni { color: #709030 } /* Name.Entity */
html[data-theme="light"] .highlight .ne { color: #908828 } /* Name.Exception */
html[data-theme="light"] .highlight .nf { color: #785840 } /* Name.Function */
html[data-theme="light"] .highlight .nl { color: #289870 } /* Name.Label */
html[data-theme="light"] .highlight .nn { color: #289870 } /* Name.Namespace */
html[data-theme="light"] .highlight .nt { color: #2838b0 } /* Name.Tag */
html[data-theme="light"] .highlight .nv { color: #b04040 } /* Name.Variable */
html[data-theme="light"] .highlight .ow { color: #a848a8 } /* Operator.Word */
html[data-theme="light"] .highlight .pm { color: #888888 } /* Punctuation.Marker */
html[data-theme="light"] .highlight .w { color: #a89028 } /* Text.Whitespace */
html[data-theme="light"] .highlight .mb { color: #444444 } /* Literal.Number.Bin */
html[data-theme="light"] .highlight .mf { color: #444444 } /* Literal.Number.Float */
html[data-theme="light"] .highlight .mh { color: #444444 } /* Literal.Number.Hex */
html[data-theme="light"] .highlight .mi { color: #444444 } /* Literal.Number.Integer */
html[data-theme="light"] .highlight .mo { color: #444444 } /* Literal.Number.Oct */
html[data-theme="light"] .highlight .sa { color: #444444 } /* Literal.String.Affix */
html[data-theme="light"] .highlight .sb { color: #b83838 } /* Literal.String.Backtick */
html[data-theme="light"] .highlight .sc { color: #a848a8 } /* Literal.String.Char */
html[data-theme="light"] .highlight .dl { color: #b85820 } /* Literal.String.Delimiter */
html[data-theme="light"] .highlight .sd { color: #b85820; font-style: italic } /* Literal.String.Doc */
html[data-theme="light"] .highlight .s2 { color: #b83838 } /* Literal.String.Double */
html[data-theme="light"] .highlight .se { color: #709030 } /* Literal.String.Escape */
html[data-theme="light"] .highlight .sh { color: #b83838 } /* Literal.String.Heredoc */
html[data-theme="light"] .highlight .si { color: #b83838; text-decoration: underline } /* Literal.String.Interpol */
html[data-theme="light"] .highlight .sx { color: #a848a8 } /* Literal.String.Other */
html[data-theme="light"] .highlight .sr { color: #a848a8 } /* Literal.String.Regex */
html[data-theme="light"] .highlight .s1 { color: #b83838 } /* Literal.String.Single */
html[data-theme="light"] .highlight .ss { color: #b83838 } /* Literal.String.Symbol */
html[data-theme="light"] .highlight .bp { color: #388038; font-style: italic } /* Name.Builtin.Pseudo */
html[data-theme="light"] .highlight .fm { color: #b85820 } /* Name.Function.Magic */
html[data-theme="light"] .highlight .vc { color: #b04040 } /* Name.Variable.Class */
html[data-theme="light"] .highlight .vg { color: #908828 } /* Name.Variable.Global */
html[data-theme="light"] .highlight .vi { color: #b04040 } /* Name.Variable.Instance */
html[data-theme="light"] .highlight .vm { color: #b85820 } /* Name.Variable.Magic */
html[data-theme="light"] .highlight .il { color: #444444 } /* Literal.Number.Integer.Long */
html[data-theme="dark"] .highlight pre { line-height: 125%; }
html[data-theme="dark"] .highlight td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight .hll { background-color: #222222 }
html[data-theme="dark"] .highlight { background: #000000; color: #cccccc }
html[data-theme="dark"] .highlight .c { color: #000080 } /* Comment */
html[data-theme="dark"] .highlight .err { color: #cccccc; border: 1px solid #FF0000 } /* Error */
html[data-theme="dark"] .highlight .esc { color: #cccccc } /* Escape */
html[data-theme="dark"] .highlight .g { color: #cccccc } /* Generic */
html[data-theme="dark"] .highlight .k { color: #cdcd00 } /* Keyword */
html[data-theme="dark"] .highlight .l { color: #cccccc } /* Literal */
html[data-theme="dark"] .highlight .n { color: #cccccc } /* Name */
html[data-theme="dark"] .highlight .o { color: #3399cc } /* Operator */
html[data-theme="dark"] .highlight .x { color: #cccccc } /* Other */
html[data-theme="dark"] .highlight .p { color: #cccccc } /* Punctuation */
html[data-theme="dark"] .highlight .ch { color: #000080 } /* Comment.Hashbang */
html[data-theme="dark"] .highlight .cm { color: #000080 } /* Comment.Multiline */
html[data-theme="dark"] .highlight .cp { color: #000080 } /* Comment.Preproc */
html[data-theme="dark"] .highlight .cpf { color: #000080 } /* Comment.PreprocFile */
html[data-theme="dark"] .highlight .c1 { color: #000080 } /* Comment.Single */
html[data-theme="dark"] .highlight .cs { color: #cd0000; font-weight: bold } /* Comment.Special */
html[data-theme="dark"] .highlight .gd { color: #cd0000 } /* Generic.Deleted */
html[data-theme="dark"] .highlight .ge { color: #cccccc; font-style: italic } /* Generic.Emph */
html[data-theme="dark"] .highlight .ges { color: #cccccc; font-weight: bold; font-style: italic } /* Generic.EmphStrong */
html[data-theme="dark"] .highlight .gr { color: #FF0000 } /* Generic.Error */
html[data-theme="dark"] .highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
html[data-theme="dark"] .highlight .gi { color: #00cd00 } /* Generic.Inserted */
html[data-theme="dark"] .highlight .go { color: #888888 } /* Generic.Output */
html[data-theme="dark"] .highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
html[data-theme="dark"] .highlight .gs { color: #cccccc; font-weight: bold } /* Generic.Strong */
html[data-theme="dark"] .highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
html[data-theme="dark"] .highlight .gt { color: #0044DD } /* Generic.Traceback */
html[data-theme="dark"] .highlight .kc { color: #cdcd00 } /* Keyword.Constant */
html[data-theme="dark"] .highlight .kd { color: #00cd00 } /* Keyword.Declaration */
html[data-theme="dark"] .highlight .kn { color: #cd00cd } /* Keyword.Namespace */
html[data-theme="dark"] .highlight .kp { color: #cdcd00 } /* Keyword.Pseudo */
html[data-theme="dark"] .highlight .kr { color: #cdcd00 } /* Keyword.Reserved */
html[data-theme="dark"] .highlight .kt { color: #00cd00 } /* Keyword.Type */
html[data-theme="dark"] .highlight .ld { color: #cccccc } /* Literal.Date */
html[data-theme="dark"] .highlight .m { color: #cd00cd } /* Literal.Number */
html[data-theme="dark"] .highlight .s { color: #cd0000 } /* Literal.String */
html[data-theme="dark"] .highlight .na { color: #cccccc } /* Name.Attribute */
html[data-theme="dark"] .highlight .nb { color: #cd00cd } /* Name.Builtin */
html[data-theme="dark"] .highlight .nc { color: #00cdcd } /* Name.Class */
html[data-theme="dark"] .highlight .no { color: #cccccc } /* Name.Constant */
html[data-theme="dark"] .highlight .nd { color: #cccccc } /* Name.Decorator */
html[data-theme="dark"] .highlight .ni { color: #cccccc } /* Name.Entity */
html[data-theme="dark"] .highlight .ne { color: #666699; font-weight: bold } /* Name.Exception */
html[data-theme="dark"] .highlight .nf { color: #cccccc } /* Name.Function */
html[data-theme="dark"] .highlight .nl { color: #cccccc } /* Name.Label */
html[data-theme="dark"] .highlight .nn { color: #cccccc } /* Name.Namespace */
html[data-theme="dark"] .highlight .nx { color: #cccccc } /* Name.Other */
html[data-theme="dark"] .highlight .py { color: #cccccc } /* Name.Property */
html[data-theme="dark"] .highlight .nt { color: #cccccc } /* Name.Tag */
html[data-theme="dark"] .highlight .nv { color: #00cdcd } /* Name.Variable */
html[data-theme="dark"] .highlight .ow { color: #cdcd00 } /* Operator.Word */
html[data-theme="dark"] .highlight .pm { color: #cccccc } /* Punctuation.Marker */
html[data-theme="dark"] .highlight .w { color: #cccccc } /* Text.Whitespace */
html[data-theme="dark"] .highlight .mb { color: #cd00cd } /* Literal.Number.Bin */
html[data-theme="dark"] .highlight .mf { color: #cd00cd } /* Literal.Number.Float */
html[data-theme="dark"] .highlight .mh { color: #cd00cd } /* Literal.Number.Hex */
html[data-theme="dark"] .highlight .mi { color: #cd00cd } /* Literal.Number.Integer */
html[data-theme="dark"] .highlight .mo { color: #cd00cd } /* Literal.Number.Oct */
html[data-theme="dark"] .highlight .sa { color: #cd0000 } /* Literal.String.Affix */
html[data-theme="dark"] .highlight .sb { color: #cd0000 } /* Literal.String.Backtick */
html[data-theme="dark"] .highlight .sc { color: #cd0000 } /* Literal.String.Char */
html[data-theme="dark"] .highlight .dl { color: #cd0000 } /* Literal.String.Delimiter */
html[data-theme="dark"] .highlight .sd { color: #cd0000 } /* Literal.String.Doc */
html[data-theme="dark"] .highlight .s2 { color: #cd0000 } /* Literal.String.Double */
html[data-theme="dark"] .highlight .se { color: #cd0000 } /* Literal.String.Escape */
html[data-theme="dark"] .highlight .sh { color: #cd0000 } /* Literal.String.Heredoc */
html[data-theme="dark"] .highlight .si { color: #cd0000 } /* Literal.String.Interpol */
html[data-theme="dark"] .highlight .sx { color: #cd0000 } /* Literal.String.Other */
html[data-theme="dark"] .highlight .sr { color: #cd0000 } /* Literal.String.Regex */
html[data-theme="dark"] .highlight .s1 { color: #cd0000 } /* Literal.String.Single */
html[data-theme="dark"] .highlight .ss { color: #cd0000 } /* Literal.String.Symbol */
html[data-theme="dark"] .highlight .bp { color: #cd00cd } /* Name.Builtin.Pseudo */
html[data-theme="dark"] .highlight .fm { color: #cccccc } /* Name.Function.Magic */
html[data-theme="dark"] .highlight .vc { color: #00cdcd } /* Name.Variable.Class */
html[data-theme="dark"] .highlight .vg { color: #00cdcd } /* Name.Variable.Global */
html[data-theme="dark"] .highlight .vi { color: #00cdcd } /* Name.Variable.Instance */
html[data-theme="dark"] .highlight .vm { color: #00cdcd } /* Name.Variable.Magic */
html[data-theme="dark"] .highlight .il { color: #cd00cd } /* Literal.Number.Integer.Long */