jupyter-book
matplotlib
numpy
pydata-sphinx-theme
sphinx
sphinx-book-theme
sphinx-comments
sphinx-copybutton
sphinx-design
sphinx-external-toc
sphinx-inline-tabs
sphinx-jupyterbook-latex
sphinx-multitoc-numbering
sphinx-proof
sphinx-thebe
sphinx-tippy
sphinx-togglebutton
sphinxcontrib-applehelp
sphinxcontrib-bibtex
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
