pydata-sphinx-theme
sphinx-autobuild
sphinx-togglebutton
sphinx-copybutton
sphinx-thebe 
sphinx-external-toc 
sphinx-design 
sphinx-book-theme
sphinx-jupyterbook-latex
myst-nb
myst-parser
linkify-it-py
