jupyter-book
matplotlib
numpy
sphinx_togglebutton
sphinx_copybutton
sphinx_thebe
sphinx_comments
sphinx_external_toc
sphinx.ext.intersphinx
sphinx_design
sphinx_book_theme
pydata_sphinx_theme
sphinx_jupyterbook_latex
myst_nb