/** css/yourtheme.css **/

/* This line is theme specific - it includes the base theme CSS */
@import '../alabaster.css';
/* for Alabaster */
/*@import 'theme.css';       /* for the Read the Docs theme */


body2 {
  display : flex;
  align-items : center;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container2 {
  position : relative;
  width : 100% ;
  display : flex;
  align-items : center;
  justify-content : center;
  box-sizing: border-box;
  padding : 90px 5px;  
}

.container2 .card2 {
  position: relative;
  min-width : 220px;
  height : 220px;  
  background-color : #F4F3F2;
  margin : 5px 15px;
  padding : 15px 15px;
  
  display: flex;
  justify-content: space-between;
  flex-direction : column;
  box-shadow : 0 12px 25px rgba(143, 136, 136, 0.5);
  transition : 0.6s ease-in-out;
  border-radius : 20px;
}
.container2 .card2:hover {
  height : 340px;    
  max-width: 35%;
}

.container2 .card2 .image2 {
  position : relative;
  width : 220px;
  height : 220px;
  margin : 0 auto;
  
  top : -30%;
  left: 0px;
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
}

.container2 .card2 .image2 img2 {
  max-width : 100%;
  border-radius : 15px;
}

.container2 .card2 .content2 {
  position : relative;
  top : -140px;
  padding : 10px 15px;
  color : #111;
  text-align : center;
  
  visibility : hidden;
  opacity : 0;
  transition : 0.8s ease-in;
  transition : 0.3s ease-out
    
}

.container2 .card2:hover .content2 {
   margin-top : 15px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;
  
}
@media screen and (min-width: 40em) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }

  .card {
    flex: 0 1 calc(50% - 1em);
  }
}

@media screen and (min-width: 60em) {
  .card {
      flex: 0 1 calc(25% - 1em);
  }
}
