html {
  --pst-font-size-base: 18px;
}

body {
  line-height: 2;
}

.bd-main .bd-content .bd-article-container {
  /* max-width: 100%;   */
  /* default is 60em */
}
  
.bd-main .bd-content .bd-article-container .bd-article {
  padding-right: 4em;
  padding-left: 4em;
}